@media (max-width: 768px) {
    
    .E{
        display: flex;
        justify-content: center;
        flex-direction: column;
          align-items: center;
    }
    .Entradas{
        margin: 15px;
    }
    .F{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .Fuertes{
        margin: 15px;
    }
    .B{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .Bebidas{
        margin: 15px;
    }
    }
    